<div class="dropdown" th:fragment="drop" >
				<a class="btn dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
					aria-expanded="false">
					<i class="bi bi-gear-wide-connected"></i>
				</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="/clientes">
						<i class="bi bi-person-fill"></i>
						Clientes
					</a>
					<a class="dropdown-item" href="/destino">
						<i class="bi bi-airplane-engines-fill"></i>
						Destinos
					</a>
					<a class="dropdown-item" href="/promocao">
						<i class="bi bi-calculator-fill"></i>
						Promoções
					</a>
					<a class="dropdown-item" href="/reservas">
						<i class="bi bi-house-check-fill"></i>
						Reservas
					</a>

				</div>
			</div>