<html th:replace="~{layout :: layout ('Destinos', ~{::main}, ~{::styles}, ~{::script})}">

<head></head>

<body>
	<main>
		<section class="py-5 container">
			
			<div th:replace="~{fragments/drop :: drop}"></div>
			
			<div class="d-flex justify-content-between">
				<a class="btn btn-lg btn-primary mb-3 shadow" th:href="@{/destino/cadastrar}">Novo Destino</a>
				<a class="nav-link primary" href="#">
					<i class="bi bi-person-fill-gear fs-4 me-2"></i>
					<b><small th:text="${#authentication.name}"></small></b>
				</a>
			</div>
			<div class="card shadow border-0">
				<div class="card-header p-4 border-0 d-flex my-auto align-items-center">
					<i class="bi bi-airplane-engines-fill"></i>
					<h5>Destinos</h5>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-hover table-borderless color-black">
							<thead>
								<tr>
									<th scope="col">ID</th>
									<th scope="col">País</th>
									<th scope="col">Preço</th>
									<th scope="col">Duração</th>
									<th scope="col">Opções</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="destino : ${destinos}">
									<td th:text="${destino.id}"></td>
									<td th:text="${destino.pais}"></td>
									<td th:text="${'R$' + destino.preco}"></td>
									<td th:text="${destino.duracao}"></td>
									<td class="d-flex gap-2">
										<!-- Editar -->
										<a class="btn btn-primary d-flex align-items-center" title="Editar"
											th:href="@{/destino/{id}/editar (id=${destino.id})}">
											<i class="bi bi-pencil-square me-1"></i>
											Editar
										</a>

										<!-- Excluir -->
										<a class="btn btn-danger d-flex align-items-center" title="Excluir"
											data-bs-toggle="modal"
											th:data-bs-target="'#confirmDeleteModal-' + ${destino.id}">
											<i class="bi bi-trash3 me-1"></i>
											Excluir
										</a>
										<!-- Inicio Modal Delete -->
										<div class="modal fade" th:id="'confirmDeleteModal-' + ${destino.id}"
											tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
											<div class="modal-dialog">
												<div class="modal-content align-items-center p-3">
													<img src="https://cdn-icons-png.flaticon.com/512/3221/3221803.png" height="150" width="148" />
													<div class="modal-body text-center">
														<div class="modalTitle">Tem a certeza?</div>
														<span>Deseja excluir o destino
															<b><span th:text="${destino.pais}"></span>?</b>
														</span>
													</div>
													<div class="p-2 d-flex gap-2 justify-content-center">
														<a type="button"
															th:href="@{/destino/{id}/excluir (id=${destino.id})}"
															class="btn btn-danger">Confirmar</a>
														<a type="button" class="btn btn-primary"
															href="/destino">Cancelar</a>
													</div>
												</div>
											</div>
										</div>
										<!-- Fim Modal Delete-->
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</section>
	</main>
</body>